.image-layout {        
  width: 30%;
  height: 200px;
  border: 5px dashed #f7a239;
}

imagefit {
  width: 100%; /* takes the 100 % width of its container (.image-layout div)*/
  height: 100%; /* takes the 100 % height of its container (.image-layout)*/
  object-fit: cover;
}
